LOG_LEVEL=debug
NODE_ENV=development
PORT=3000
OPENAI_API_KEY=dummy
LANGCHAIN_TRACING_V2=dummy
LANGCHAIN_API_KEY=dummy
LANGCHAIN_CALLBACKS_BACKGROUND=dummy
LANGCHAIN_PROJECT=dummy
AUTHORIZED_BOT_USER_NAME=dummy
