#root {
    margin: 0 auto;
    height: 100%;
}

html,
body {
    margin: 0 auto;
    height: 100%;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
    textarea {
        color: #fff;
    }
    body {
        background-color: #000;
    }
}

.carousel-status {
    margin-top: 0;
    right: 3em;
}
